<div class="section section-buttons" style="background-color: black;">
  <div class="container">
    <div class="tim-title">
      <h2></h2>
    </div>
    <div nz-row nzJustify="space-between">
      <iframe nz-col [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="12" [nzXXl]="15" width="500" height="300"
        src="https://www.youtube.com/embed/nZ6lWJA6Iv8?autoplay=1" frameborder="0" allowfullscreen allow='autoplay'>
      </iframe>
      <div nz-col [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="12" [nzXXl]="7">
        <h1 style="color: white;  text-shadow: 2px 2px 8px #FF0000;"> QUANG TRUNG SECURITY</h1>
        <br>
        <div class="content" style="color: white;">
          Hơn 10 kinh nghiệm là công ty dịch vụ bảo vệ. Với đội ngũ lãnh đạo dày dặn kinh nghiệm, chúng tôi tự tin là
          đơn vị cung cấp dịch vụ bảo vệ uy tín chất lượng cao được nhiều đối tác và khách hàng tin tưởng trong nhiều
          năm.
        </div>
      </div>
    </div>
  </div>
</div>
